* {
   user-select: none;
   -webkit-user-select: none;
}

.files {
   padding: 0;
   margin: 0;
}

.file {
   padding: 2px;
   margin: 2px;
   width: 80px;
   display: inline-block;

   text-align: center;
   vertical-align: top;
}

.file.focus {
   background-color: var(--bs-primary);
   border-radius: 4px;
   -webkit-border-radius: 4px;
}

.file .name {
   width: 80px;
   word-wrap: break-word;
}

.file.focus .name {
   color: white;
}

.file .icon {
   margin: auto;
   margin-top: 0;
   width: 60px;
}

.file.focus .icon {
   filter: invert(20%);
   -webkit-filter: invert(20%);
}

.file .icon img {
   width: 100%;
   height: auto;
}
